
<h2>ჩემი კალათი</h2>

<!-- pipe  ავტომატური საბსქრაიბისთვის -->
<ng-container *ngIf="items$ | async as items">
  <div *ngIf="items.length === 0; else cartContent">
    კალათი ცარიელია.
  </div>

  <ng-template #cartContent>
    <ul>
      <!-- მთლიანად შესაცვლელია -->
      <li *ngFor="let item of items">
        <button (click)="decrease(item)">-</button>
        {{item.quantity}} x
        <button (click)="increase(item)">+</button>
        <img [src]="item.product.thumbnail" alt="{{ item.product.title }}" width="50" height="50">
        {{ item.product.title }} - {{ item.product.price.current }} {{ item.product.price.currency }}
        <b>ჯამი: {{ item.quantity * item.product.price.current | number:'1.2-2' }} {{ item.product.price.currency }}</b>
        <button (click)="remove(item)" style="color:red; margin-left: 10px;">წაშლა</button>
      </li>
    </ul>
    <div>
      
    </div>
  </ng-template>
</ng-container>