<div *ngIf="product" class="product-details-container">
  <h2>{{ product.title }}</h2>
  <img [src]="product.thumbnail" [alt]="product.title" width="300">
  <p>{{ product.description }}</p>
  <p>Price: {{ product.price.current }} {{ product.price.currency }}</p>
  <p>Category: {{ product.category.name }}</p>
  <p>Stock: {{ product.stock > 0 ? 'In Stock' : 'Out of Stock' }}</p>
  <p>Current Rating: {{ product.rating }}</p>

  <!-- რეიტინგისთვის უნდა დაემატოს ღილაკი რევიუ დასამატებელია პოსტი არ მუშაობს  -->
  <div class="rating-container">
    <h3>შეაფასე ეს პროდუქტი:</h3>
    <div class="stars">
      <span *ngFor="let star of stars; let i = index"
            (click)="rateProduct(i + 1)"
            (mouseover)="hoverRating(i + 1)"
            (mouseleave)="resetHover()"
            [class.filled]="i < (hoveredRating || selectedRating)">
        ★
      </span>
    </div>
    <p *ngIf="selectedRating">თქვენი შეფასება: {{ selectedRating }} ვარსკვლავი</p>
  </div>
</div>
